---
name: Yaml Lint
on:
  pull_request:
    branches:
      - master
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: yaml-lint
        uses: broadinstitute/action-yamllint@v1
        with:
          config_file: .github/yamllint.yaml
          file_or_dir: dev/*/
